# System files
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Auxiliary files
aux/
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv

# Output files
dist/
main.pdf
